<div class="app-card-container">
  <div class="card">
    <h1>About</h1>
    <div class="row">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu mattis massa, ornare gravida purus. Cras ut purus dictum nulla aliquet pulvinar sed non risus. Praesent pulvinar finibus pulvinar. Sed porttitor ligula ligula, non congue erat tempor id. Vestibulum venenatis imperdiet arcu, nec sagittis eros fringilla feugiat. Ut turpis mi, pharetra eu laoreet et, pellentesque feugiat ex. Nunc accumsan augue eu neque molestie bibendum. Fusce at ante vel lectus finibus ullamcorper. Quisque ullamcorper mollis magna. Nullam ut mauris at massa euismod facilisis ut non ante. Proin sodales ligula eget felis accumsan venenatis. Aliquam eget sagittis mi.</p>
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#moreContent1"
            aria-expanded="false"
            aria-controler="moreContent1"
            >More Content</button>

            <button
            class="btn btn-warning"
            type="button"
            data-toggle="collapse"
            data-target="#moreContent2"
            aria-expanded="false"
            aria-controler="moreContent2"
            >More Content</button>
        </p>

        <p>
          <div class="collapse" id="moreContent1">
            <div class="card card-block">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu mattis massa, ornare gravida purus. Cras ut purus dictum nulla aliquet pulvinar sed non risus. Praesent pulvinar finibus pulvinar. Sed porttitor ligula ligula, non congue erat tempor id.
            </div>
            <div class="card card-block">
              Vestibulum venenatis imperdiet arcu, nec sagittis eros fringilla feugiat. Ut turpis mi, pharetra eu laoreet et, pellentesque feugiat ex. Nunc accumsan augue eu neque molestie bibendum. Fusce at ante vel lectus finibus ullamcorper. Quisque ullamcorper mollis magna. Nullam ut mauris at massa euismod facilisis ut non ante. Proin sodales ligula eget felis accumsan venenatis. Aliquam eget sagittis mi.
            </div>
          </div>

          <div class="collapse" id="moreContent2">
            <div class="card card-block">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu mattis massa, ornare gravida purus. Cras ut purus dictum nulla aliquet pulvinar sed non risus. Praesent pulvinar finibus pulvinar. Sed porttitor ligula ligula, non congue erat tempor id.
            </div>
            <div class="card card-block">
              Vestibulum venenatis imperdiet arcu, nec sagittis eros fringilla feugiat. Ut turpis mi, pharetra eu laoreet et, pellentesque feugiat ex. Nunc accumsan augue eu neque molestie bibendum. Fusce at ante vel lectus finibus ullamcorper. Quisque ullamcorper mollis magna. Nullam ut mauris at massa euismod facilisis ut non ante. Proin sodales ligula eget felis accumsan venenatis. Aliquam eget sagittis mi.
            </div>
          </div>
        </p>

      </div>
      
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width:225, alt: "Profile Image" %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  area-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>