<h1>About</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "profile.jpg", width:225, alt: "Profile Image" %>
    </div>
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu mattis massa, ornare gravida purus. Cras ut purus dictum nulla aliquet pulvinar sed non risus. Praesent pulvinar finibus pulvinar. Sed porttitor ligula ligula, non congue erat tempor id. Vestibulum venenatis imperdiet arcu, nec sagittis eros fringilla feugiat. Ut turpis mi, pharetra eu laoreet et, pellentesque feugiat ex. Nunc accumsan augue eu neque molestie bibendum. Fusce at ante vel lectus finibus ullamcorper. Quisque ullamcorper mollis magna. Nullam ut mauris at massa euismod facilisis ut non ante. Proin sodales ligula eget felis accumsan venenatis. Aliquam eget sagittis mi.</p>
    </div>
  </div>
</div>