<main role="main" class="inner cover">
  <h1 class="cover-heading">welcome to devcamp tutorial</h1>
  <p class="lead">This devcamp tutorial website was created as the main project of the<br /><em>Dissecting Ruby on Rails 5</em> course by <strong>Jordan Hudgens</strong> on Udemy.</p>
  <p class="lead">
    <%= link_to "About", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>